#navbar {
  position: fixed;
  width: 20%;
  height: 100%;
  border-right: solid black;
}

#navbar>header {
  font-size: 2em;
  padding: 1em;
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
}

#navbar>a.nav-link {
  display: block;
  border-top: solid black;
  color: inherit;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-doc {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: 22%;
}

.main-section>header {
  font-size: 1.5em;
  font-weight: bold;
}

@media only screen and (min-width: 992px) {
  #navbar {
    visibility: visible;
  }
}